# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
dist/
build/
.venv/
venv/
ENV/
env/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Notebooks (optional)
notebooks/
.ipynb_checkpoints/

# ONLY ignore dataset
data/